<ion-view title="Contacts" hide-back-button="true">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="logout()">
        Logout <i class="icon ion-log-out"></i>
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ul class="list">
      <li class="item item-button-right" ng-repeat="contact in contacts">
        <i class="icon ion-record" style="color: green"></i>
        {{ contact }}
        <button class="button button-positive" 
                ui-sref="app.call({ isCalling: true, contactName: contact })">
          <i class="icon ion-ios7-telephone"></i>
        </button>
      </li>
    </ul>

   <ion-item ng-if="!contacts.length">
	Nobody online yet. 
   </ion-item>
  </ion-content>
</ion-view>
